<appSettings>
  <add key="CarpetaFotos" value="Fotos" />
  <add key="Culture" value="es-PA" />
  <add key="CultureInfo" value="es-PA" />
  <add key="OrganizacionNombreLegal" value="First Central International Bank" />
  <add key="OrganizacionNombreComercial" value="First Central International Bank" />
  <add key="OrganizacionSiglas" value="FCIB" />
  <add key="NumRegxFeeds" value="7" />
  <add key="RSSEmail" value="ligiapuertas@gmail.com" />
  <add key="CuentaGoogle" value="116315647808907285216" />
  <add key="PaginaFB" value="http://www.facebook.com/pages/First-Central-International-Bank/111316569016125" />
  <add key="UsuarioTwitter" value="FirstCIB" />
  <add key="CarpetaDocumentos" value="\\ORION\Intercambio\Intratec\Documentos\" />
  <add key="CarpetaImagenesGaleria" value="Galeria" />
  <add key="CarpetaProcedimientos" value="\\ORION\Intercambio\Intratec\Procedimientos" />
  <add key="CarpetaManuales" value="\\ORION\Intercambio\Intratec\Manuales" />
  <add key="CarpetaNormativas" value="\\ORION\Intercambio\Intratec\Normativas" />
  <add key="CarpetaReportes" value="\\ORION\Intercambio\Intratec\Reportes" />
  <add key="AppOnBase" value="http://www.hyland.com/es/onbase-y-ecm.aspx" />
  <add key="AppQlickView" value="http://www.qlikview.com/es/services/training/free-training" />
  <add key="AppAssist" value="http://www.sas.com/products/assist/index.html" />
  <add key="AppCorreoElectronico" value="http://www.hotmail.com" />
  <add key="AppMasterData" value="http://masterdata/FrontEnd/fe_index.asp" />
  <add key="ArchivoLog" value="~/AppData" />
</appSettings>